<style>

            h2 {
                color: rgb(0,35, 230);
            }
            h1 {
                color: rgb(17, 0, 150);
            }
            body {
                color: rgb(117, 23, 0);
        </style>
